{% load static %}
{% load i18n %}
{% load translation %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPG Brasil -  </title>
    <link rel="shortcut icon" href="{% static '/img/logo/favicon.ico'%}" type="image/x-icon">
    <link rel="stylesheet" href="{% static '/css/main.css' %}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/30df96d222.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>
<body>
    <div class="topmenu">
        <div class="menu_container">
            <div class="main_menu">
                <div class="logo">
                    <object>
                        <a href="{% url 'home' %}"></a>

                        <embed src="{%static '/img/logo/symbol.svg'%}" type="image/svg+xml">
                    </object>
                </div>
                <div id="menu" class="menu_list">
                    <ul class="main_list">
                        <li class="mobile_icon show"><i class="fas fa-bars"></i></li>
                        <li><a href="{% url 'layout'%}">{% trans "Expertise" %}</a>
                            <ul class="topdropdown">
                                <li><a href="{% url 'group'%}">{% trans "Sandblasting & Coating" %}</a></li>
                                <li><a href="{% url 'group'%}">{% trans "Industrial Handling" %}</a></li>
                                <li><a href="{% url 'group'%}">{% trans "Pavement" %}</a></li>

                            </ul>
                        </li>
                        <li><a href="{% url 'group'%}">{% trans "Sectors" %}</a>
                            <ul class="topdropdown">
                                    <li><a href="{% url 'group'%}">{% trans "Marine and Offshore" %}</a></li>
                                    <li><a href="{% url 'group'%}">{% trans "Industry and Infrastructure" %}</a></li>
                            </ul>
    
                        </li>
                        <li><a href="{% url 'group'%}">{% trans "Group" %}</a></li>
                        <li><a href="{% url 'layout'%}">{% trans "Support" %}</a></li>
                    </ul>
                </div>
            </div>

            <div class="right_menu">
                <canvas class="cv1"></canvas>
                <!-- <canvas class="cv2"></canvas> -->
                <!-- <canvas class="cv3"></canvas> -->
                <!-- <canvas class="cv4"></canvas> -->
                <ul class="secondary_menu">
                    <li>
                        <a class="white" href="{% url 'admin:index' %}">
                            <span class="hide" >Account&nbsp;&nbsp;</span><i class="fas fa-user"></i>
                        </a>
                    </li>
                    <li>
                        <a class="white" href="http://e.spgbrasil.com.br">
                            <span class="hide">Webmail&nbsp;&nbsp;</span><i class="fas fa-envelope"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="top_header">
        <object class="top_header_picture" type="image/jpg" data="{%static '/img/img3.jpg'%}">
        </object>
        <canvas class="left_top_header"></canvas>
        <div class="title_container">
            <span>{% trans page.header_title%}</span>
            <span class="light_text">{% trans page.header_subtitle%}</span>
        </div>

        <div class="breadcrumb">
            <a href="#" target="_blank" rel="noopener noreferrer">Home</a> > Service > Sandblasting
        </div>
    </div>

<div class="container">
    <div class="main_container">

        {% autoescape off %}
        {% for x in content%}
            {{x.content_text|translation:x.content_type}}  
        {% endfor %}
        {% endautoescape%}
      <br>
      <div class="img_section">
        <div class="row text-center">
          <div class="flex-l">
            <a href="#">
                <img src="{% static 'img/img.jpg'%}">
                <span>Coating and Sandblasting</span>
            </a>
            </div>
            <div class="flex-l">
            <a href="#">
                <img src="{% static 'img/img2.jpg'%}">
                <span>Industry and infrastructure</span>
            </a>
            </div>
            <div class="flex-l">
            <a href="#">
                <img src="{% static 'img/img3.jpg'%}">
                <span>Marine and Offshore</span>
            </a>
            </div>
        </div>
      </div>
    </div>


</div>

<div id="footer">
    <div class="row text-center">
        <div class="flex-l-3">
            {% trans "Change Language:" %}
            <form action="{% url 'set_language' %}" method="post" class="link-lang">
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}">
            {% get_current_language as LANGUAGE_CODE %} {% get_available_languages as LANGUAGES %} {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
                <button class="a-link white" name="language" value="{{language.code}}" type="submit"
                {% if language.code == LANGUAGE_CODE %} disabled {% endif %}
                >{{language.code}}</button>
            {% endfor %}
            </form>            
        </div>
        <div class="flex-l-3">
            <object>
                <embed src="{%static '/img/logo/logo.svg'%}" type="image/svg+xml">
            </object>       
        </div>
        <div class="flex-l-3">
            <!-- font awesone -->
            <i class="fab fa-facebook"></i>
            <i class="fab fa-youtube"></i>
            <i class="fab fa-instagram"></i>

        </div>
        <div class="flex-l-6 text-left text-small hide">
            <strong>SUPPORT</strong><br>
            <span class="white block">Rua Santo Antonio, Casa 16</span>
            <span class="white block">CEP: 65176-100, Sao Luis, MA, Brasil</span>
            <span class="white block">Tel: +55 (98) 3330-2124 </span>
            <a class="white block" href="#">contato@spgbrasil.com.br</a>      
        </div>
        <div class="flex-l-6 text-left text-small hide">
            <strong>EXPERTISE</strong><br>
            <a class="white block" href="#">Coating and Sandblasting</a>
            <a class="white block" href="#">Marine and offshore</a>
            <a class="white block" href="#">Industry adn Infrastructure</a>      
        </div>
        <div class="flex-l-6 text-left text-small hide">
            <strong>SECTORS</strong><br>
            <a class="white block" href="#">Infrastructure and Pavement</a>
            <a class="white block" href="#">Marine and offshore</a>
            <a class="white block" href="#">Industry</a>      
        </div>
        <div class="flex-l-6 text-left text-small">
            <strong>EMPLOYEE</strong><br>
            <a class="white block" href="{% url 'admin:index' %}">Admin</a>
            <a class="white block" href="http://e.spgbrasil.com.br/">Webmail</a>
            <a class="white block" href="#">FMS System</a>       
        </div>
        
        <div class="flex-l-1">
            All copyrights reserved to SPG BRASIL 2020
        </div>
    </div>
</div>
<script>
$(document).ready(function(){
  if(window.innerWidth < 800){
    $('#menu').addClass('mobile_menu').removeClass('menu_list');
  }
});

$(window).resize(function(){
          if(window.innerWidth < 750){
            $('#menu').addClass('mobile_menu').removeClass('menu_list');
            $('.mobile_menu').removeClass('l-200')
          }else{
            $('#menu').addClass('menu_list').removeClass('mobile_menu');
            $('.mobile_menu').addClass('l-200')
          }
        });

// if(window.innerHeight < window.innerWidth){
//     alert("Please use Landscape!");
// }

$('.mobile_icon').click(function(){
    $('.mobile_menu .main_list>li:not(:first-child)').toggle('display').css('display','block');
});
</script>
</body>
</html>