{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPG Brasil</title>
    <link rel="shortcut icon" href="{% static '/img/logo/favicon.ico'%}" type="image/x-icon">
    <link rel="stylesheet" href="{% static '/css/main.css' %}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="topmenu">
        <div class="menu_container">
            <div class="main_menu">
                <div class="logo">
                    <object>
                        <embed src="{%static '/img/logo/symbol.svg'%}" type="image/svg+xml">
                    </object>
                </div>
                <div class="menu_list">
                    <ul class="main_list">
                        <li>Expertise
                            <ul class="topdropdown">
                                <li>
                                    Submenu1 fdfdfd
                                    fdfd
                                </li>
                                <li>
                                    Submenu2
                                </li>
                            </ul>
                        </li>
                        <li>Service
                            <ul class="topdropdown">
                                <li>
                                    Submenu222 fdfdfd
                                    fdfd
                                </li>
                                <li>
                                    Submenufs,fsdn
                                </li>
                            </ul>
    
                        </li>
                        <li>Group</li>
                        <li>Contact</li>
                    </ul>
                </div>
            </div>
            <div class="right_menu">
                <canvas class="cv1"></canvas>
                <canvas class="cv2"></canvas>
                <canvas class="cv3"></canvas>
                <!-- <canvas class="cv4"></canvas> -->
            </div>
        </div>
    </div>

    <div class="top_header">
        <object class="top_header_picture" type="image/jpg" data="{%static '/img/img3.jpg'%}">
        </object>
        <canvas class="left_top_header"></canvas>
        <div class="title_container">
            <span>Product and Services</span>
            <span class="light_text">Anti Corrosion & SandBalsting</span>
        </div>

        <div class="breadcrumb">
            <a href="#" target="_blank" rel="noopener noreferrer">Home</a> > Service > Sandblasting
        </div>
    </div>

<div class="container">
    <div class="main_container">

        <a href="{% url 'admin:index' %}">{% url 'admin:index' %} - Admin Page</a>

        {% get_current_language as LANGUAGE_CODE %}
        {{LANGUAGE_CODE}}

        <form action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}">
            <select
                name="language"> {% get_current_language as LANGUAGE_CODE %} {% get_available_languages as LANGUAGES %} {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}
                            selected{% endif %}> {{ language.name_local }} ({{ language.code }})
                    </option>
                {% endfor %}
            </select>
            <input type="submit" value="Go"/>
        </form>

        …the application of resins and protective coatings (paint, enamel paints, etc.) on industrial assets in many sectors (marine, industry, structures, offshore, energy) is conducted with precise control by qualified teams complying with safety and ecological requirements, regulations and meeting the imperatives of the job (costs, turnaround times, quality).        <br>

        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32        <br>

        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32        <br>

        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
    </div>


</div>

<div class="footer">
    SPG BRASIL LTDA | EN FR BR ES | Menu1 Menu2 Menu3
</div>

</body>
</html>