{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPG Brasil - {{title}} </title>
    <link rel="shortcut icon" href="{% static '/img/logo/favicon.ico'%}" type="image/x-icon">
    <link rel="stylesheet" href="{% static '/css/main.css' %}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/30df96d222.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

</head>
<body class="onepage">
    <div class="header">
        <video autoplay loop muted>
            <source src="{% static 'video/intro.webm' %}" type="video/webm">
        </video>
    </div>

    <div class="menu">
        <div class="menu_container">
            <div class="main_menu">
                <div class="logo">
                    <object>
                        <embed src="{%static '/img/logo/symbol.svg'%}" type="image/svg+xml">
                    </object>
                    <object type="text" class="logo_text">
                        <span class="blue">
                            SPG
                        </span>
                        <span class="yellow">
                            BRASIL
                        </span>
                    </object>
                </div>

                <div id="menu" class="menu_list l-200">
                    <ul class="main_list">
                        <li class="mobile_icon show"><i class="fas fa-bars"></i></li>
                        <li><a href="{% url 'layout'%}">{% trans "Expertise" %}</a>
                            <ul class="topdropdown">
                                <li><a href="{% url 'group'%}">{% trans "Sandblasting & Coating" %}</a></li>
                                <li><a href="{% url 'group'%}">{% trans "Industrial Handling" %}</a></li>
                                <li><a href="{% url 'group'%}">{% trans "Pavement" %}</a></li>

                            </ul>
                        </li>
                        <li><a href="{% url 'group'%}">{% trans "Sectors" %}</a>
                            <ul class="topdropdown">
                                    <li><a href="{% url 'group'%}">{% trans "Marine and Offshore" %}</a></li>
                                    <li><a href="{% url 'group'%}">{% trans "Industry and Infrastructure" %}</a></li>
                            </ul>
    
                        </li>
                        <li><a href="{% url 'group'%}">{% trans "Group" %}</a></li>
                        <li><a href="{% url 'layout'%}">{% trans "Support" %}</a></li>
                    </ul>
                </div>
            </div>
            <div class="right_menu">
                <canvas class="cv1"></canvas>
                <!-- <canvas class="cv2"></canvas> -->
                <!-- <canvas class="cv3"></canvas> -->
                <ul class="secondary_menu">
                    <li>
                        <a class="white" href="{% url 'admin:index' %}">
                            <span class="hide">Account&nbsp;&nbsp;</span><i class="fas fa-user"></i>
                        </a>
                    </li>
                    <li>
                        <a class="white" href="http://e.spgbrasil.com.br">
                            <span class="hide">Webmail&nbsp;&nbsp;</span><i class="fas fa-envelope"></i>
                        </a>
                    </li>
            </div>
        </div>
    </div>

    <div class="info">
        <div class="info_container">
                <span class="regular_text">
                    1/4
                </span>
                <span class="upper_text">
                    Leadership and Green Developpement
                </span>
                <span class="lower_text">
Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
eaque ipsa quae ab illo inventore veritatis et quasi                </span>
                <span class="regular_text">
                    Leadership and Green Developpement
                </span>
                <span class="invisible_text">
                    View More
                </span>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
        $(document).ready(function(){
          if(window.innerWidth < 750){
            $('#menu').addClass('mobile_menu').removeClass('menu_list');
            $('.mobile_menu').css('top','unset').css('bottom','0');
            $('.mobile_menu').removeClass('l-200')

          }
        });
        
        $(window).resize(function(){
          if(window.innerWidth < 750){
            $('#menu').addClass('mobile_menu').removeClass('menu_list');
            $('.mobile_menu').removeClass('l-200')
          }else{
            $('#menu').addClass('menu_list').removeClass('mobile_menu');
            $('.mobile_menu').addClass('l-200')
          }
        });
        
        // if(window.innerHeight < window.innerWidth){
        //     alert("Please use Landscape!");
        // }
        
        $('.mobile_icon').click(function(){
            $('.mobile_menu .main_list>li:not(:first-child)').toggle('display').css('display','block');
        });
        </script>
</body>
</html>