@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400&display=swap');


@font-face {
    font-family: 'Controller';
    src: url('../font/_controller-webfont.woff2') format('woff2'),
         url('../font/_controller-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/* LOGOMARCA */
    #logoOrange{
        fill-rule:evenodd;
        fill:url(#linearGradient7054);
        /* fill:white; */
        stroke: #1469a7;  
        animation: fadein 12s ease-in forwards;
    }
    #logoBlue{
        stroke: #b7a44d;
        fill:url(#linearGradient7064);
        animation: fadein 12s ease-in forwards;
    }


body{
    margin: 0;
}

.onepage{
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
}

.header{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background: url('../img/img3.jpg') no-repeat;
    /* background: white; */
    background-size: cover;
    z-index: -50;
}

.header video{
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0; min-width: 100%;min-height: 100%;
    background-size: cover;
}

/* MAIN BASE LAYOUT MENU */

.topmenu{
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
}

.darkgrey{
    background: #434147 !important;
}

.topdropdown{
    position: absolute;
    bottom: -100;
    left: 0;
    text-decoration: none;
    list-style-type: none;
    text-indent: 0;
    padding: 0;
    margin: 0;
    width: 100% !important;
    visibility: hidden;
    z-index: 100;
}
.topdropdown>li{
    height: 50px;
    color: white;
    display: block;
    clear: both;
    background: #434147;
    line-height: 50px;
    text-align: left;
    padding-left: 10px;
    /* opacity: 0; */
    transition: linear 1s opacity;
}

.menu_list .main_list li:hover > .topdropdown{
    visibility: visible;
    opacity: 1;
}

/* END TOP MENU */

.menu{
    position: absolute;
    bottom: 15%;
    left: 0;
    height: 100px;
    width: 100%;
    /* overflow: hidden; */
    z-index: -10;
}

.menu_container{
    position: relative;
    height: 100%;
    width: 100%;
    margin: auto;
}

.main_menu{
    position: absolute;
    left: 0;
    height: 100%;
    width: 70%;
    margin: auto;
    background: #2423266e;
        /* background: #2423266e; */

}

.right_menu{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 30%;
    margin: 0;
    background: transparent;
}

.right_menu canvas{
    position: absolute;
    height: 100%;
    top: 0;
}

.right_menu .cv1{
    background: #2423266e;
    left: 0;
    clip-path: polygon(0 0, 0 100%, 100% 0);
    width: 150px;
    cursor: pointer;
}

.cv1:hover ~ .cv4{visibility: visible;opacity: 1;}
.cv1:hover ~ .cv5{visibility: visible; opacity: 1;}

.right_menu .cv2{
    left: 5px;
    clip-path: polygon(50% 0, 0 100%, 20% 100%, 70% 0);
    width: 300px;
    background: #146aa798;
}

.right_menu .cv3{
    left: 5px;
    clip-path: polygon(70% 100%, 50% 100%, calc(35% + 3px) calc(60% + 11px), calc(40% + 19px) calc(50%));
    width: 300px;
    background: #b7a44d94;
}

.right_menu .cv4{
    visibility: hidden;
    left: 150px;
    clip-path: polygon(0 50%, 100% 0, 100% 100%);
    background:#2f2d3385;
    width: 74px;
    opacity: 0;
    transition: 1s linear opacity;
}

/* .right_menu .cv5{
    visibility: hidden;
    left: 224px;
    background:#2f2d33;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1s linear opacity;
}
 */

.logo{
    height: 100%;
    width: fit-content;
    /* background: #2423266e; */
    margin: 0;
    z-index: 1;
}

.logo::after{
    /* content: '';
    width: 100px;
    height: 100%;
    background: #2f2d334f;
    position: absolute;
    left: 60px;
    bottom: 0;
    transform-origin: center bottom; */
                    /*p1.x p1.y, p2.x p2.y, ...*/
    /* clip-path: polygon(0 100%, 50% 100%, 0 0); */
    z-index: 1;
}

.logo embed{
    position: relative;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    height: 70px;
    width: auto;
    z-index: 100;
}

.logo .logo_text{
    width: auto;
    position: absolute;
    top: 50%;
    left: 80px;
    margin-left: 20px;
    transform: translateY(-50%);
    font-family: Controller;
    font-size: 23px;
    font-weight: bold;
    z-index: 0;
}



.logo .logo_text span{
    display: inline-block;
}

.menu_list{
    margin: 0;
    position: absolute;
    width: 60%;
    height: auto;
    top: 0;
    /* right: 10%; */
    left: 0;
    transform: translateX(20%);
}

.l-200{
    left: 200px;
}

.menu_list .main_list{
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    font-weight: 200;
    color: white;
    position: relative;
    text-decoration: none;
    text-align: center;
    list-style-type: none;
    text-indent: 0;
    padding: 0;
    margin: 0;
}

.menu_list .main_list > li{
    display: block;
    float: left;
    box-sizing: border-box;
    /* border: rgba(58, 46, 46, 0.1) solid 1px; */
    width: 25%;
    height: 100px;  /* CHECK MENU BAR HEIGHT*/
    line-height: 100px;
    transition: 1s background linear;
    cursor: pointer;
}

.menu_list .main_list li:hover{
    background: rgb(54, 54, 54);
}

.menu_list .main_list li:hover > .dropdown{
    visibility: visible;
    opacity: 1;
}

.dropdown{
    position: absolute;
    top: -100px;
    left: 0;
    text-decoration: none;
    list-style-type: none;
    text-indent: 0;
    padding: 0;
    margin: 0;
    width: 100% !important;
    visibility: hidden;
}
.dropdown>li{
    height: 50px;
    color: white;
    display: block;
    clear: both;
    background: #434147;
    line-height: 50px;
    text-align: left;
    padding-left: 10px;
    /* opacity: 0; */
    transition: linear 1s opacity;
}

.dropdown>li:hover{
    background: #242326;
}


.yellow{
    color: #b7a44d;
}
.blue{
    color: #1469a7;
}



.info{
font-family: 'Titillium Web', sans-serif;
    display: block;
    position: absolute;
    /* background: black; */
    top: 10%;
    left: 10%;
    width: 50%;
    height: 40%;
    margin: 0;
}
.info::after{
    display: block;
    width: 100%;
    height: 50%;
    border-left: 3px solid #b7a44d;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    position: absolute;
}

.info_container{
    position: relative;
    margin: auto;
    height: 100%;
    width: 100%;
    padding-left: 30px;
}

.upper_text{
    color: white;
    font-size: 25px;
    font-weight: 400;
    display: block;
    box-sizing: border-box;
    border-bottom: white solid 1px;
    border-top: white solid 1px;
    width: 80%;
    padding: 10px 0;
    text-align: center;
}

.lower_text{
    color: rgb(230, 221, 221);
    font-size: 15px;
    font-weight: 300;
    display: block;
    box-sizing: border-box;
    width: 70%;
    padding: 40px 0;
    text-align: left;
}

.regular_text{
    color: rgb(230, 221, 221);
    font-size: 12px;
    font-weight: 200;
    display: block;
    width: 70%;
    padding: 10px 0;
    text-align: left;  
}

.invisible_text{
    color: rgb(230, 221, 221);
    font-size: 12px;
    font-weight: 300;
    display: block;
    border-top: 1px solid white;
    width: fit-content;
    padding: 10px 20px;
    text-align: left;  
}




 /* _BASE PAGE */

 .top_header{
     position: relative;
     top: 0;
     right: 0;
     z-index: -999;
     width: 100%;
     height: 400px;
 }

 .top_header .top_header_picture{
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 10% 100%);
    filter: brightness(50%);
 }
 .left_top_header{
     position: absolute;
     left: 0;
     top: 0;
     height: 100%;
     width: 30%;
     background: #434147;
     z-index: -9999;
 }