@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

@font-face {
    font-family: 'Controller';
    src: url('../font/_controller-webfont.woff2') format('woff2'),
         url('../font/_controller-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: lighter;
}
/* NAVBAR MENU */

.navbar{
    background-color: rgba(0, 0, 0, .5);
    overflow: hidden;
    font-size: 10px;
    padding: 0 20px;
    color: white;
    /* z-index: 10; */
}

.navbar span{
    display: block;
    text-align: center;
    padding: 10px 5px;
    text-decoration: none;
}
.navbar .left{
    float: left;
}
.navbar .right{
    float: right;
}

.navbar .icon{
    display: none;
}

.navbar .icon a{
    text-decoration: none;
    color: white;
}
.navbar .icon a:active{
    color: white;
}

.headerBG{
    position: absolute;
    bottom: 0;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background: url("../img/img2.jpg") no-repeat;
    transform: translateX(-50%);
    transform-origin: bottom left;
    background-size: cover;
    z-index: -50;
}

.headerBG:before{
    content: '';
    position: absolute;;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 40%;
    z-index: -52;
    background: rgb(179, 179, 145);
    transform-origin: bottom right;
    transform: skewY(5deg);
}
.headerBG::after{
    content: '';
    position: absolute;;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 40%;
    z-index: -50;
    background: rgb(61, 59, 59);
    transform-origin: bottom left;
    transform: skewY(-5deg);
}

.container{
    width: auto;
    height: auto;
    margin: auto;
}

.containerLogo{
    font-family: "Controller";
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: auto;
    display: block;
}

.logo{
    position: absolute;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
    transition: all linear 3s;
}

.logo object embed{
    width: 100px;
    height: auto;
}
.textLogo{
    display: inline-block;
    opacity: 0;
    transition: all linear 3s;
}
.textLogo > span{
    display: block;
}
.textLogo .logoName{
    margin-top: 10%;
    font-size: 30px;
}

.textLogo .sublogoName{
    font-size: 10px;
    text-align: center;
}

.subtext{
    /* display: none; */
    overflow: hidden;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    text-align: center;
    margin: 100px auto;
    padding: 10px 10px 0px 10px;
    width: 50%;
    height: 50px;
    box-shadow: inset 0 0 25px -5px rgb(61, 59, 59, 0.7);
}

.subtext::before{
    content:"";
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
    filter: blur(10px);
}

.subtext ul{
    text-indent: none;
    list-style: none;
    list-style-type: none;
    padding: 0;
    /* position: relative; */
    text-align: center;
    font-weight: bold;
}
.subtext ul span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    opacity: 0;
}
#l1{
    animation: textin1 linear 30s infinite;
}
#l2{
    animation: textin2 linear 30s infinite;
}
#l3{
    animation: textin3 linear 30s infinite;
}

@keyframes textin1 {
	0%, 8.3% { opacity: 0; }
  8.3%,25% { opacity: 1; }
  33.33%, 100% { opacity: 0; }
}

@keyframes textin2 {
	0%, 33.33% { opacity: 0; }
  41.63%, 58.29% { opacity: 1; }
  66.66%, 100% { opacity: 0; }
}

@keyframes textin3 {
	0%, 66.66% { opacity: 0; }
  74.96%, 91.62% { opacity: 1; }
  100% { opacity: 0; }
}

.orange{
    color: #b7a44d;
}
.blue{
    color: #1469a7;
}

@media screen and (max-width: 500px){
    /* .container{max-width: 100%;} */
    .textLogo .logoName{
        font-size: 23px;
    }
    .textLogo .sublogoName{
        margin-top:10px;
        font-size: 9px;
    }
    .navbar span:not(.icon){
        display: none;
    }
    .icon{
        display: block !important;
    }

    .navbar.responsive{
        position: relative;
    }
    .navbar.responsive .icon{
        position: absolute;
        top: 0;
        right: 0;
    }
    .navbar.responsive span{
        float: none;
        display: block;
        text-align: left;
    }
    .textLogo{
        width: 100%;
    }
    .subtext{
        height: 60px;
        width: 70%;
        top: 45%;
    }
}
@media screen and (max-device-width: 800px){
    #intro{
        background-position: 50%;
    }
    video{
        visibility: hidden;
    }
}




/* SVG Logo */
    .logomarca{
        stroke:none;
        stroke-linecap:round;
        stroke-width:2;
        fill: none;

        stroke-dasharray: 300;
        stroke-dashoffset: 0;
        -webkit-animation: dash 5s linear forwards;
        -o-animation: dash 5s linear forwards;
        -moz-animation: dash 5s linear forwards;
        animation: dash 5s linear forwards;
    }
    #logoOrange{
        fill-rule:evenodd;
        fill:url(#linearGradient7054);
        stroke: #1469a7;  
        animation: fadein 12s ease-in forwards;
    }
    #logoBlue{
        stroke: #b7a44d;
        fill:url(#linearGradient7064);
        animation: fadein 12s ease-in forwards;
    }
    @keyframes dash{
        from{
            stroke-dashoffset: 300;
            fill: transparent;
        }
        to{
            stroke-dashoffset: 0;
        }
    }
    @keyframes fadein{
        0%, 10%{
            fill-opacity: 0;
        }
        0%, 70%{
            fill-opacity: 0;
        }
        70%, 100%{
            fill-opacity: 1;
            stroke: transparent;
        }
    }
/* End SVG Logo */